.jumbotron{
    background-image: url(jumbotron.jpg);
    background-size: cover;
    height: 400px;
    position: relative;
    }

.jumbotron h1{
    color: #fff;
}

.jumbotron p{
    color: #fff;
}

.footer{
    background-color: burlywood;
}